<div class="offer_solar_main_page">
    <div class="offer_use_solar_main_text">
      Offerussolar.com negotiates great solar deals for community groups.
    </div>
  <div class="solar_logo_img"><%=  image_tag("/assets/solar_logo.png") %></div>
    <div class="solar_video"></div>
    <div class="solar_group_join_text">
      Join on offerussolar.com group, and watch as you receive better offers as your group grows!
    </div>
    <div class="get_started">
        <div class="get_started_text">Get started!</div>
          <p class="quick_color">(its quick,easy and free)</p>
        <div class="get_started_inner_border"></div>
        <div class="post_code_text">enter your post code and click start</div>
        <div class="start_search">
          <input type="text" /></div>
        <div class="start_button">Start</div>
    </div>
  
</div>


<br /></br>
<div class="offerus_main_page">
    <div class="offerus_main_text">
    With offer.us,you request the deal.The more people,the better offer!
    </div>
    <div class="offerus_video"></div>
    <div class="find_product">
        <div class="find_product_text">Find products</div>
          <p class="looking_for_font">what your looking for?</p>
          <div class="post_search">
            <input type="select" class="search_arrow_button"/>
          </div>
          
        <div class="post_code_font">enter your post code</div>
        <div class="post_code_search">
        <input type="text"/>
        </div>
        <div class="search_button">Search</div>
    </div>
  
</div>

