<div class="offer_solar_main_page">
  <div class="offer_use_solar_main_text">
    Offerussolar.com negotiates great solar deals for community groups.
  </div>
  <div class="solar_vedio">
    
  </div>
  <div class="solar_group_join_text">
    Join on offerussolar.com group, and watch as you receive better offers as your group grows!
  </div>
</div>