<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<p>User: <%= @user.fname %></p>
<p>Email: <%= @user.email if @user.email %></p>


<%= link_to 'Edit', edit_business_path(@business)  %>
