<h3>Home</h3>




  <br /> <br />
  <div class="request_product_box">
    <table>
      <td>
        <%= link_to image_tag("/assets/plus_icon.png", :class => 'plus_icon') %>
      </td>
      <td>
      <div class="request_input_box_border">
        <%= text_field_tag 'request', nil, :class => 'request_input_box' %>
      </div>
      </td>
      <td>
       <%= link_to image_tag("/assets/request_product_icon.png", :class => 'request_product_icon') %>
      </td>
    </table>
  </div>
  
  <br />
    <!--
  <div class="products_main_container">
    <div class="product_offers_time_box">
      <table>
        <td>
          <div>
            Hide
          </div>
        </td>
        <td>
          <div class="product_offers_small_box">
            Product
          </div>
        </td>
        <td>
          <div class="products_want_this_box">
            I want this
          </div>
        </td>
        <td>
          <div class="products_contdown_time_box">
            Contdown Time
          </div>
        </td>
      </table>
    </div>
    
    <div class="products_sub_container">
      <div class="products_description_box">
         we're looking for good quality whey protein isolate powder. Taste is important, as is purity and quality.
      </div>
      <div>
        Offers Received
        <div class="products_list_table">
          
        </div>
        
      </div>
    </div>
    
    <div class="products_comments_box">
    comments
    </div>
  </div>
  
  -->