/* Css styles */

.sign_up_navigation{
    float:right;
    margin-right: 10px;
    margin-top: 30px;
}
.login_navigation{
    float:right;
    margin-right:0px;
    margin-top:30px;
}
li {
    list-style: none;
}

#main_background{
    background:#98D4F9;
}
.main_navigation{
    width:950px;
    margin-left:25px;
}
.main_body{
    padding: 0px 25px 25px 25px;
}

.footer_box{
    background:#fff;
    border:2px dotted #D1D1D1;
}
.footer_container{
    margin-left:15%;
    width:998px;
    height:250px;
}
.footer_aboutus_box{
    width:300px;
    text-align:center;
}
.footer_contactus_box{
    width:300px;
    text-align:center;
}
.fb_likebox{
    width:245px;
    height:156px;
    overflow:hidden;
    margin-top:-15px;
    margin-left:-10px;
}
.fb_like_borderbox{
    overflow:hidden;
    width:245px;
    height:156px;
    border:0px solid red;
}

/* Start menubar */
.menu_first{
    float:left;
    width:140px;
    height:50px;
    text-align:center;
    border-right:1px solid #48D1CC;
}

.menu_second{
    float:left;
    width:140px;
    height:50px;
    text-align:center;
    border-right:1px solid #48D1CC;
}

.menu_third{
    float:left;
    width:140px;
    height:50px;
    text-align:center;
    border-right:1px solid #48D1CC;
}

.menu_fourth{
    float:left;
    width:140px;
    height:50px;
    text-align:center;
    border-right:1px solid #48D1CC;
}

.menu_fifth{
    float:left;
    width:106px;
    height:50px;
    text-align:center;
    border-right:1px solid #48D1CC;
}

.menu_sixth{
    background: url("/assets/down_arrow.png") no-repeat white;
    height: 23px;
    width: 20px;
    margin: 9px 0px 0px 0px;
    padding: 10px 10px 0px 0px;
    z-index: 1;
    background-position: 7px 10px;
    border-left: 1px solid #ECECEC;
}
.menu_seventh{
    background: url("/assets/search_icon.png") no-repeat white;
    height: 23px;
    width: 20px;
    margin: 9px 0px 0px 0px;
    padding: 10px 10px 0px 0px;
    z-index: 1;
    background-position: 7px 10px;
    border-left: 1px solid #ECECEC;
    border-radius: 0px 3px 3px 0px;
}
/* End menubar */

/* Start sub menubar */
.sub_menu_first{
    float:left;
    width:120px;
    height:50px;
    text-align:center;
    border-right:1px solid #E1E5EE;
}

.sub_menu_second{
    float:left;
    width:150px;
    height:50px;
    text-align:center;
    border-right:1px solid #E1E5EE;
}

.sub_menu_third{
    float:left;
    width:120px;
    height:50px;
    text-align:center;
    border-right:1px solid #E1E5EE;
}

.sub_menu_fourth{
    background: url("/assets/down_arrow.png") no-repeat white;
    height: 23px;
    width: 20px;
    margin: 9px 0px 0px 0px;
    padding: 10px 10px 0px 0px;
    z-index: 1;
    background-position: 7px 10px;
    border-left: 1px solid #ECECEC;
}

.sub_menu_fifth{
    background: url("/assets/search_icon.png") no-repeat white;
    height: 23px;
    width: 20px;
    margin: 9px 0px 0px 0px;
    padding: 10px 10px 0px 0px;
    z-index: 1;
    background-position: 7px 10px;
    border-left: 1px solid #ECECEC;
    border-radius: 0px 3px 3px 0px;
}
/* Start sub menubar */

/* Start login form */
#loginContainer {
    position:relative;
    float:right;
    font-size:12px;
}

#loginButton { 
    display:inline-block;
    position:relative;
    border-radius:3px 3px 0 0; 
    border:1px solid #fff;
    z-index:30;
    float:left;
    cursor:pointer;
}

#loginButton .span {
    color:#017FD6;
    font-size: 14px;
    padding: 2px 17px 3px 2px;
    background: url("/assets/loginArrow.png") no-repeat 42px 2px;
    float:left;
    margin-left:0px;
}

#loginButton:hover {
    background:#CAD4DD;
    text-shadow:none;
}

#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
}
    
#loginButton.active {
    border-radius:3px 3px 0 0;
    background:#CAD4DD; 
    border:1px solid #899caa;
}

#loginButton.active .span {
    background-position:42px -81px;
    text-shadow:none;
}

#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}

#loginForm {
    width:300px; 
    border:1px solid #899caa;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#CAD4DD;
    padding:15px 6px 6px 6px;
    margin-top: -10px;
}

#loginForm input {
    width:auto;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:normal;
    padding:8px 8px;
    font-size:14px;
}

input:focus {
    outline:none;
}
.signin_input{
    margin-left:15px;
    width:250px;
}
.signin_button{
    margin-left: 222px;
    width: 65px;
}
.signin_button input{
    background:#019BE1;
}

.checkbox_input{
    float:left;
    width:250px;
    margin-left:15px;
}
.checkbox_remember{
    margin-left:0px;
    width:200px;
    color:#019BE1;
}

.forget_password_text{
    text-align:center;
}
input#user_email{
    width:250px;
}

input#user_password{
    width:250px;
}
/* End login form */

.current_user_iamge{
    width:75px;
    height:75px;
    border: 1px solid #ECECEC;
    border-radius: 7px;
}

/* Start product request box */
.request_product_box{
    background: url("/assets/request_product_bg.png") repeat-x;
    width:948px;
    height:70px;
    border:1px solid #98D4F9;
    border-radius: 5px;
}

.request_input_box{
    width:210px;
    height:20px;
    margin-left:30px;
    margin-top:10px;
}
.request_input_box_border{
    background:#fff;
    width:278px;
    height:50px;
    border:1px solid #D6DBE5;
    border-radius:3px;
    margin-left:25px;
    margin-top:10px;
}
.request_product_icon{
    margin-left:60px;
    margin-top:8px;
}
.plus_icon{
    margin-left:25px;
}

/* End product request box */

/* Start products container */
.products_main_container{
    width:948px;
    height:auto;
    border:1px solid #D1D1D1;
    border-radius: 5px;
}

.products_sub_container{
    background:#fff;
    width:946px;
    height:500px;
    margin-top: 0px;
    border:1px solid #D1D1D1;
    border-radius: 5px;
}
.product_offers_time_box{
    background:#F4F4F4;
    width:946px;
    height:105px;
    border:1px solid #D1D1D1;
    border-radius: 3px 3px 0px 0px;
    
}
.product_offers_small_box{
    background:#fff;
    width:280px;
    height:70px;
    margin-left:30px;
    margin-top:15px;
    border:1px solid #D1D1D1;
    border-radius:5px;
}
.products_want_this_box{
    background:#fff;
    width:280px;
    height:70px;
    margin-left:60px;
    margin-top:15px;
    border:1px solid #D1D1D1;
    border-radius:5px;    
}
.products_contdown_time_box{
    background:#fff;
    width:200px;
    height:70px;
    margin-left:30px;
    margin-top:15px;
    border:1px solid #D1D1D1;
    border-radius:5px; 
}
.products_description_box{
    width:948px;
    height:50px;
    border-bottom:3px dotted #D1D1D1;
    
}

.products_list_table{
    background:#019BE1;
    width:926px;
    height:30px;
    margin-left:10px;
    border-radius: 10px 10px 0px 0px;
}

/* End products container */

/* Start products comments container */
.products_comments_box{
    background:#fff;
    width:948px;
    height:100px;
    border-radius:0px 0px 5px 5px;
}

/* End products comments container */

#product_description{
    width:210px;
    height:100px;
    display:block;
}