/* Css styles */

.sign_up_navigation{
    float:right;
    margin-right: 10px;
    margin-top: 32px;
}
.login_navigation{
    float:right;
    margin-right:0px;
    margin-top:30px;
}
.facebook_navigation_top{
    margin-right: 10px;
}
.fb_like_button_footer{
    width:55px;
    height:25px;
    overflow: hidden;
}
li {
    list-style: none;
}

#main_background{
    background:#98D4F9;
    height:50%;
    
}
.main_navigation{
    width:950px;
    height:94px;
    margin-left:25px;
}
.main_body{
    padding: 0px 25px 50px 25px;
}

.footer_box{
    background:#fff;
    border:2px dotted #D1D1D1;
}
.footer_container{
    margin-left:15%;
    width:998px;
    height:250px;
}
.footer_about_contact_box{
    height:120px;
}
.about_footer_page{
    color:#000;
    font-weight:normal;
}
.getintouch_footer_page{
    color:#000;
    font-weight:normal;
}
.footer_aboutus_box{
    width:250px;
    text-align:center;
}
.footer_contactus_box{
    width:250px;
    text-align:center;
}
.fb_like_borderbox{
    width:250px;
    padding-left:200px;
}
.About_link_footer{
    font-size:18px;
    font-weight:bold;
}
.footer_privacy_terms_table{
    width:1000px;
    margin-top:30px;
}
.privacy_footer_link{
    font-size:16px;
    color:#000;
}
.terms_condition_link{
    font-size:16px;
    color:#000;
}
.copy_right_link{
    font-size:16px;
    color:#000;
}
/* Start menubar */
.menu_first{
    float:left;
    width:140px;
    height:50px;
    text-align:center;
    border-right:1px solid #48D1CC;
}

.menu_second{
    float:left;
    width:140px;
    height:50px;
    text-align:center;
    border-right:1px solid #48D1CC;
}

.menu_third{
    float:left;
    width:140px;
    height:50px;
    text-align:center;
    border-right:1px solid #48D1CC;
}

.menu_fourth{
    float:left;
    width:140px;
    height:50px;
    text-align:center;
    border-right:1px solid #48D1CC;
}

.menu_fifth{
    float:left;
    width:106px;
    height:50px;
    text-align:center;
    border-right:1px solid #48D1CC;
}

.menu_sixth{
    background: url("/assets/down_arrow.png") no-repeat white;
    height: 23px;
    width: 20px;
    margin: 9px 0px 0px 0px;
    padding: 10px 10px 0px 0px;
    z-index: 1;
    background-position: 7px 10px;
    border-left: 1px solid #ECECEC;
}
.menu_seventh{
    background: url("/assets/search_icon.png") no-repeat white;
    height: 23px;
    width: 20px;
    margin: 9px 0px 0px 0px;
    padding: 10px 10px 0px 0px;
    z-index: 1;
    background-position: 7px 10px;
    border-left: 1px solid #ECECEC;
    border-radius: 0px 3px 3px 0px;
}
/* End menubar */

/* Start sub menubar */
.sub_menu_first{
    float:left;
    width:120px;
    height:50px;
    text-align:center;
    border-right:1px solid #E1E5EE;
}

.sub_menu_second{
    float:left;
    width:150px;
    height:50px;
    text-align:center;
    border-right:1px solid #E1E5EE;
}

.sub_menu_third{
    float:left;
    width:120px;
    height:50px;
    text-align:center;
    border-right:1px solid #E1E5EE;
}

.sub_menu_fourth{
    background: url("/assets/down_arrow.png") no-repeat white;
    height: 23px;
    width: 20px;
    margin: 9px 0px 0px 0px;
    padding: 10px 10px 0px 0px;
    z-index: 1;
    background-position: 7px 10px;
    border-left: 1px solid #ECECEC;
}

.sub_menu_fifth{
    background: url("/assets/search_icon.png") no-repeat white;
    height: 23px;
    width: 20px;
    margin: 9px 0px 0px 0px;
    padding: 10px 10px 0px 0px;
    z-index: 1;
    background-position: 7px 10px;
    border-left: 1px solid #ECECEC;
    border-radius: 0px 3px 3px 0px;
}
/* Start sub menubar */

/* Start login form */
#loginContainer {
    position:relative;
    float:right;
    font-size:12px;
}

#loginButton { 
    display:inline-block;
    position:relative;
    border-radius:3px 3px 0 0; 
    border:1px solid #fff;
    z-index:30;
    float:left;
    cursor:pointer;
}

#loginButton .span {
    color:#017FD6;
    font-size: 14px;
    padding: 2px 17px 3px 2px;
    background: url("/assets/loginArrow.png") no-repeat 42px 2px;
    float:left;
    margin-left:0px;
}

#loginButton:hover {
    background:#F5F5F5;
    text-shadow:none;
}

#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
}
    
#loginButton.active {
    border-radius:3px 3px 0 0;
    background:#F5F5F5; 
    border:1px solid #E9E9E9;
}

#loginButton.active .span {
    background-position:42px -81px;
    text-shadow:none;
}

#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}

.main_loginForm {
    width:300px; 
    border:1px solid #E9E9E9;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    background:#F5F5F5;
    padding:15px 6px 6px 6px;
    margin-top: -10px;
}

#loginForm input {
    width:auto;
    border:1px solid #E9E9E9;
    border-radius:5px;
    -moz-border-radius:5px;
    color:#3a454d;
    font-weight:normal;
    padding:8px 8px;
    font-size:14px;
     
}

input:focus {
    outline:none;
}
.signin_input{
    margin-left:15px;
    width:250px;
}
.login_checkbox{
    margin-left:15px
}
.sign_in_btn_window{
    margin-left:15px;
}
#loginForm .sign_in_btn_window input{
    background: #005ECC;
    color:#fff;
    border-radius:5px;
}

.forget_password_text{
    text-align: left;
    margin-left: 15px;
}
input#user_email{
    width:250px;
}

input#user_password{
    width:250px;
}

input#user_fname{
    width:250px;
}

input#user_lname{
    width:250px;
}

input#user_password_confirmation{
    width:250px;
}
/* End login form */

.current_user_iamge{
    width:75px;
    height:75px;
    margin-left:50px;
    border: 1px solid #ECECEC;
    border-radius: 7px;
}
.current_user_name{
    font-size:15px;
}
/* Start sign up form */
.sign_up_page_box{
    margin-left:100px;
    margin-top:10px;
}
.signup_main_box{
    background:#F5F5F5;
    width:315px;
    height:auto;
    padding-left:50px;
    padding-top:20px;
    border:1px solid #E9E9E9;
    border-radius:5px;
}
.sign_up_fields{
    font-weight:normal;
    font-size:15px;
}
.facebook_connect_button{
    width: 290px;
    height: 60px;
    margin-left:100px;
    margin-top:-30px;
    overflow:hidden;
}
.sign_up_header{
    font-size:20px;
    font-weight:normal;
    height:40px;
    color:#000;
}
.sign_up_button_page{
    width:250px;
    text-align:center;

}
/* End signup form*/


/* Start product request box */
.request_product_box{
    background: url("/assets/request_product_bg.png") repeat-x;
    width:948px;
    height:70px;
    border:1px solid #98D4F9;
    border-radius: 5px;
    margin-top: 30px;
}

.request_input_box{
    width:210px;
    height:20px;
    margin-left:30px;
    margin-top:10px;
}
.request_input_box_border{
    background:#fff;
    width:278px;
    height:50px;
    border:1px solid #D6DBE5;
    border-radius:3px;
    margin-left:25px;
    margin-top:10px;
}
.request_product_icon{
    margin-left:60px;
    margin-top:8px;
}
.plus_icon{
    margin-left:25px;
}

/* End product request box */

/* Start products container */
.products_main_container{
    width:948px;
    height:auto;
    border:1px solid #D1D1D1;
    border-radius: 5px;
}

.products_sub_container{
    background:#fff;
    width:946px;
    height:400px;
    margin-top: 0px;
    border:1px solid #D1D1D1;
    border-radius: 5px;
}
.product_offers_time_box{
    background:#F4F4F4;
    width:946px;
    height:85px;
    border:1px solid #D1D1D1;
    border-radius: 3px 3px 0px 0px;
    
}
.product_offers_small_box{
    background:#fff;
    width:280px;
    height:60px;
    margin-left:30px;
    margin-top:10px;
    border:1px solid #D1D1D1;
    border-radius:5px;
}
.product_offers_box_text{
    font-size:14px;
    font-weight:normal;
    margin-left:5px;
}
.product_offers_box_text2{
    font-size:20px;
    font-weight:normal;
    line-height:25px;
    margin-left: 5px;
}
.product_offers_box_text3{
    color:#019BE1;
    font-size:20px;
    font-weight:normal;
    line-height:25px;
}
.products_want_this_box{
    background:#fff;
    width:280px;
    height:60px;
    margin-left:60px;
    margin-top:10px;
    border:1px solid #D1D1D1;
    border-radius:5px;    
}
.products_contdown_time_box{
    background:#fff;
    width:200px;
    height:60px;
    margin-left:30px;
    margin-top:10px;
    border:1px solid #D1D1D1;
    border-radius:5px; 
}
.products_description_box{
    width:928px;
    height:auto;
    min-height:60px;
    margin-left:10px;
    margin-top:10px;
    font-size:20px;
    margin-bottom: 10px;
    line-height: 25px;
   
}
.description_dotted_line{
    width:948px;
    border-bottom:3px dotted #D1D1D1;    
}

.data_table {
width: 926px;
clear: both;
margin-left:10px;
table-layout: fixed;
padding-top: 2px;
}

.data_table thead tr th:first-child {
-moz-border-radius-topleft: 10px;
-webkit-border-top-left-radius: 10px;
-o-border-radius-topleft: 10px;
-o-border-top-left-radius: 10px;
-ms-border-radius-topleft: 10px;
-ms-border-top-left-radius: 10px;
-khtml-border-radius-topleft: 10px;
-khtml-border-top-left-radius: 10px;
border-top-left-radius: 10px;
}

.data_table th {
color: white;
font-weight: bold;
font-size: 13px;
padding: 10px 5px;
background-color: #019BE1;
}

.data_table thead tr th:last-child {
-moz-border-radius-topright: 10px;
-webkit-border-top-right-radius: 10px;
-o-border-radius-topright: 10px;
-o-border-top-right-radius: 10px;
-ms-border-radius-topright: 10px;
-ms-border-top-right-radius: 10px;
-khtml-border-radius-topright: 10px;
-khtml-border-top-right-radius: 10px;
border-top-right-radius: 10px;
}

.products_offers_received_text{
    width:700px;
    height:30px;
    font-size:24px;
    margin-left:10px;
    margin-top:15px;
}

#products_offers_list_box{
    width:926px;
    height:150px;
}
#offers_portal_box{
    width:926px;
    height:150px;
    margin-left:10px;
}
/* End products container */

/* Start products comments container */
.products_comments_box{
    background:#fff;
    width:948px;
    height:auto;
    border-radius:0px 0px 5px 5px;
}

/* End products comments container */
#product_description{
    width:210px;
    height:100px;
    display:block;
}
/* Start tribe page */
.tribe_header_box{
    height:100px;
}
#tribe_name_menu{
    width:300px;
    font-size: 24px;
    font-weight: normal;
}
.tribe_name_box{
    margin-top:-20px;
    width:300px;
    height:80px;
}
.amount_saved_by_members{
    width:136px;
    font-size: 14px;
}
#saved_amount{
    float:right;
    font-size:22px;
}
.add_friends_to_tribe{
    width:200px;
    height:50px;
    padding-left:25px;
}
.add_friends_box{
    width:200px;
}
.add_friends_box_field{
    margin-top:-20px;
}
.add_friends_search textarea, input[type="text"]{
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 0px;
  

}
.created_user_image{
    width:70px;
    height:70px;
    margin-left:20px;
    border: 3px solid #F4F4F4;
    border-radius: 7px;
}
.tribe_created_text{
    font-size:16px;
    margin-left:10px;
}
.tribe_created_user_name{
    width:160px;
    font-size:16px;
    color: #019BE1;
    margin-left:10px;
}
.created_user_ratings{
    font-size:14px;
    margin-left:10px;
}

#friendslist{
    background:#fff;
    margin-left:25px;
   height:200px;
   width:240px;
   border: 1px solid #000;
   overflow-y:scroll;
   position:absolute;
   z-index:1000;
}

.comments_header{
    font-size:22px;
    margin-left:10px;
    margin-top:7px;
}
.comments_text_box{
    background:#F4F4F4;
    width:910px;
    height:auto;
    min-height:40px;
    margin-top:15px;
    margin-left:15px;
    padding-top:2px;
    padding-left:5px;
    margin-botton:3px;
    border:1px solid #E9E9E9;
    border-radius:5px;
}
.comments_user_name{
    font-size:14px;
    color:#019BE1;
}
.mylink{
    font-size:14px;
    color:#019BE1;
    cursor:pointer;
    margin-left:15px;
    margin-top:8px;
}
.comments_body_box{
    margin-left:15px;
}
.field  text_field_tag#body{
    width:800px;
    height:60px;
}
.No_comments_text{
    margin-left:15px;
    font-size:14px;
}
.No_comments_header{
    margin-top:10px;
}


.my_tribe_page{

    background:#F9F9F9;
    width:957px;
    height:100px;
    border:1px solid #737373;
    border-radius:5px;
       
}
.go_to_this_icon{
  margin-left:100px;
  margin-top:60px;
  width:120px;
  height:30px;
}
.invite_friend_icon{
  margin-left:10px;
  margin-top:60px;
  width:140px;
  height:30px;
}

.my_tribe_name{
 margin-left:20px;
 margin-top:30px;
 font-size:35px;
 color:#4298CB;
}
.my_tribe_f{
margin-left:20px;
margin-top:20px;
}

.my_tribe_last_line{
font-size:25px;
magin-top:20px;
}
