/* Css styles */

.sign_up_navigation{
    float:right;
    margin-right: 10px;
    margin-top: 32px;
}
.login_navigation{
    float:right;
    margin-right:0px;
    margin-top:32px;
}
.facebook_navigation_top{
    margin-right: 10px;
}
.fb_like_button_footer{
    width:55px;
    height:25px;
    overflow: hidden;
}
li {
    list-style: none;
}

#main_background{
    background:#98D4F9;
    height:50%;
    
}
.main_navigation{
    width:950px;
    height:94px;
    margin-left:25px;
}
.main_body{
    padding: 0px 25px 50px 25px;
}

.footer_box{
    background:#fff;
    border:2px dotted #D1D1D1;
}
.footer_container{
    margin-left:15%;
    width:998px;
    height:250px;
}
.footer_about_contact_box{
    height:120px;
}
.about_footer_page{
    color:#000;
    font-weight:normal;
}
.getintouch_footer_page{
    color:#000;
    font-weight:normal;
}
.footer_aboutus_box{
    width:250px;
    text-align:center;
}
.footer_contactus_box{
    width:250px;
    text-align:center;
}
.fb_like_borderbox{
    width:250px;
    padding-left:200px;
}
.About_link_footer{
    font-size:18px;
    font-weight:bold;
}
.footer_privacy_terms_table{
    width:1000px;
    margin-top:30px;
}
.privacy_footer_link{
    font-size:16px;
    color:#000;
}
.terms_condition_link{
    font-size:16px;
    color:#000;
}
.copy_right_link{
    font-size:16px;
    color:#000;
}
/* Start menubar */
.menu_first{
    float:left;
    width:140px;
    height:50px;
    text-align:center;
    border-right:1px solid #48D1CC;
}

.menu_second{
    float:left;
    width:140px;
    height:50px;
    text-align:center;
    border-right:1px solid #48D1CC;
}

.menu_third{
    float:left;
    width:140px;
    height:50px;
    text-align:center;
    border-right:1px solid #48D1CC;
}

.menu_fourth{
    float:left;
    width:140px;
    height:50px;
    text-align:center;
    border-right:1px solid #48D1CC;
}

.menu_fifth{
    float:left;
    width:106px;
    height:50px;
    text-align:center;
    border-right:1px solid #48D1CC;
}

.menu_sixth{
    background: url("/assets/down_arrow.png") no-repeat white;
    height: 23px;
    width: 20px;
    margin: 9px 0px 0px 0px;
    padding: 10px 10px 0px 0px;
    z-index: 1;
    background-position: 7px 10px;
    border-left: 1px solid #ECECEC;
}
.menu_seventh{
    background: url("/assets/search_icon.png") no-repeat white;
    height: 23px;
    width: 20px;
    margin: 9px 0px 0px 0px;
    padding: 10px 10px 0px 0px;
    z-index: 1;
    background-position: 7px 10px;
    border-left: 1px solid #ECECEC;
    border-radius: 0px 3px 3px 0px;
}
/* End menubar */

/* Start sub menubar */
.sub_menu_first{
    float:left;
    width:120px;
    height:50px;
    text-align:center;
    border-right:1px solid #E1E5EE;
}

.sub_menu_second{
    float:left;
    width:150px;
    height:50px;
    text-align:center;
    border-right:1px solid #E1E5EE;
}

.sub_menu_third{
    float:left;
    width:120px;
    height:50px;
    text-align:center;
    border-right:1px solid #E1E5EE;
}

.sub_menu_fourth{
    background: url("/assets/down_arrow.png") no-repeat white;
    height: 23px;
    width: 20px;
    margin: 9px 0px 0px 0px;
    padding: 10px 10px 0px 0px;
    z-index: 1;
    background-position: 7px 10px;
    border-left: 1px solid #ECECEC;
}

.sub_menu_fifth{
    background: url("/assets/search_icon.png") no-repeat white;
    height: 23px;
    width: 20px;
    margin: 9px 0px 0px 0px;
    padding: 10px 10px 0px 0px;
    z-index: 1;
    background-position: 7px 10px;
    border-left: 1px solid #ECECEC;
    border-radius: 0px 3px 3px 0px;
}
/* Start sub menubar */

/* Start login form */
#loginContainer {
    position:relative;
    float:right;
    font-size:12px;
}

#loginButton { 
    display:inline-block;
    position:relative;
    border-radius:3px 3px 0 0; 
    border:1px solid #fff;
    z-index:30;
    float:left;
    cursor:pointer;
}

#loginButton .span {
    color:#017FD6;
    font-size: 14px;
    padding: 2px 17px 3px 2px;
    background: url("/assets/loginArrow.png") no-repeat 42px 2px;
    float:left;
    margin-left:0px;
}

#loginButton:hover {
    background:#F5F5F5;
    text-shadow:none;
}

#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
}
    
#loginButton.active {
    border-radius:3px 3px 0 0;
    background:#F5F5F5; 
    border:1px solid #E9E9E9;
}

#loginButton.active .span {
    background-position:42px -81px;
    text-shadow:none;
}

#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}

.main_loginForm {
    width:300px; 
    border:1px solid #E9E9E9;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    background:#F5F5F5;
    padding:15px 6px 6px 6px;
    margin-top: -10px;
}

#loginForm input {
    width:auto;
    border:1px solid #E9E9E9;
    border-radius:5px;
    -moz-border-radius:5px;
    color:#3a454d;
    font-weight:normal;
    padding:8px 8px;
    font-size:14px;
     
}

input:focus {
    outline:none;
}
.signin_input{
    margin-left:15px;
    width:250px;
}
.login_checkbox{
    margin-left:15px
}
.sign_in_btn_window{
    margin-left:15px;
}
#loginForm .sign_in_btn_window input{
    background: #005ECC;
    color:#fff;
    border-radius:5px;
}

.forget_password_text{
    text-align: left;
    margin-left: 15px;
}
input#user_email{
    width:250px;
}

input#user_password{
    width:250px;
}

input#user_fname{
    width:250px;
}

input#user_lname{
    width:250px;
}

input#user_password_confirmation{
    width:250px;
}
/* End login form */

.current_user_iamge{
    width:75px;
    height:75px;
    margin-left:50px;
    border: 1px solid #ECECEC;
    border-radius: 7px;
}
.current_user_name{
    font-size:15px;
}
/* start of business account */
.business_sign_up_page_box{
    margin-left:100px;
    margin-top:10px;
}
input#Business_name{
    width: 250px;
}
input#Business_email_address{
    width: 250px;
}
input#Business_web_address{
    width: 250px;
}
input#password{
    width: 250px;
}
input#password_confirmation{
    width: 250px;
}
.business_checkbox{
    margin-left: 50px;
    width: 260px;
}
.business_signup_main_box{
    background:#F5F5F5;
    width:365px;
    height:auto;
    margin-left:580px;
    padding-top:20px;
    border:1px solid #E9E9E9;
    border-radius:5px;
    position: absolute;
    float: left;
}
.business_fields{
    padding-bottom: 5px;
    font-family: Trebuchet MS;
    font-weight: normal;
}
.business_fields1{
    margin-bottom: -5px;
    font-family: Trebuchet MS;
    font-weight: normal;
}
.terms_and_conditions{
    font-family:  Trebuchet MS;
    margin-top: -20px;
    margin-left: 17px;
    font-weight: normal;
}
.business_sign_up_fields{
    font-weight:normal;
    font-size:15px;
    margin-left: 50px;
}
.business_container{
    width: 945px;
    height: 500px;
    border: 0px solid;
    position: relative;
    float: left;
}
#business_video{
    margin-top: 20px;
    margin-left: 2px;
    width: 558px;
    height: 320px;
    border: 1px solid;
    position: inherit;
    float: left;
}
.business_last_line{
    font-size: 15px;
    margin-right: 558px;
    margin-top: 30px;   
    position:relative;
    float: left;
    font-family: Trebuchet MS;
    font-weight: normal;
}
.business_sign_up_header{
    font-size:20px;
    font-weight:normal;
    font-family: Trebuchet MS;
    height:20px;
    color:#000;
}
.create_account_btn{
        -moz-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
	box-shadow:inset 0px 0px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05,  #007CCC), color-stop(1, #007CCC) );
	background:-moz-linear-gradient( center top,  #007CCC 5%, #019BE1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007CCC', endColorstr='#007CCC');
	background-color:#007CCC;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:5px;
	border:2px solid #0085CB;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:14px;
	font-weight:normal;
	padding-top: 5px;
        padding-bottom: 5px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}.create_account_btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #007CCC), color-stop(1, #00bbff) );
	background:-moz-linear-gradient( center top, #007CCC 5%, #007CCC 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007CCC', endColorstr='#007CCC');
	background-color:#007CCC;
                text-decoration:none;
                color:#fff;
}.create_account_btn:active {
	position:relative;
	top:1px;
}
.business_sign_up_button_page{
    width:250px;
    text-align:center;
    margin-left: 50px;

}
/* Start sign up form */
.sign_up_page_box{
    margin-left:100px;
    margin-top:10px;
}
.signup_main_box{
    background:#F5F5F5;
    width:315px;
    height:auto;
    padding-left:50px;
    padding-top:20px;
    border:1px solid #E9E9E9;
    border-radius:5px;
}
.sign_up_fields{
    font-weight:normal;
    font-size:15px;
}
.facebook_connect_button{
    width: 290px;
    height: 60px;
    margin-left:100px;
    margin-top:-30px;
    overflow:hidden;
}
.sign_up_header{
    font-size:20px;
    font-weight:normal;
    height:40px;
    color:#000;
}
.sign_up_button_page{
    width:250px;
    text-align:center;

}
.create_tribe_btn{
        -moz-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
	box-shadow:inset 0px 0px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05,  #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top,  #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:14px;
	font-weight:bold;
	padding-top: 7px;
        padding-bottom: 7px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}.create_tribe_btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
                text-decoration:none;
                color:#fff;
}.create_tribe_btn:active {
	position:relative;
	top:1px;
}

/* End signup form*/


/* Start product request box */
.request_product_box{
    background: url("/assets/request_product_bg.png") repeat-x;
    width:948px;
    height:70px;
    border:1px solid #98D4F9;
    border-radius: 5px;
    margin-top: 30px;
}

.request_input_box{
    width:210px;
    height:20px;
    margin-left:30px;
    margin-top:10px;
}
.request_input_box_border{
    background:#fff;
    width:278px;
    height:50px;
    border:1px solid #D6DBE5;
    border-radius:3px;
    margin-left:25px;
    margin-top:10px;
}
.request_product_icon{
    margin-left:60px;
    margin-top:8px;
}
.plus_icon{
    margin-left:25px;
}

/* End product request box */

/* Start products container */
.products_main_container{
    width:948px;
    height:auto;
    border:1px solid #D1D1D1;
    border-radius: 5px;
}

.products_sub_container{
    background:#fff;
    width:946px;
    height:auto;
    margin-top: 0px;
    border:1px solid #D1D1D1;
    border-radius: 5px;
}
.product_offers_time_box{
    background:#F4F4F4;
    width:946px;
    height:85px;
    border:1px solid #D1D1D1;
    border-radius: 3px 3px 0px 0px;
    
}
.product_offers_small_box{
    background:#fff;
    width:280px;
    height:60px;
    margin-left:0px;
    margin-top:10px;
    border:1px solid #D1D1D1;
    border-radius:5px;
}
.product_offers_box_text{
    font-size:14px;
    font-weight:normal;
    margin-left:5px;
}
.product_offers_box_text2{
    font-size:20px;
    font-weight:normal;
    line-height:25px;
    margin-left: 5px;
}
.product_offers_box_text3{
    color:#019BE1;
    font-size:20px;
    font-weight:normal;
    line-height:25px;
}
.products_want_this_box{
    background:#fff;
    width:280px;
    height:60px;
    margin-left:60px;
    margin-top:10px;
    border:1px solid #D1D1D1;
    border-radius:5px;    
}
.products_contdown_time_box{
    background:#fff;
    width:200px;
    height:60px;
    margin-left:20px;
    margin-top:10px;
    border:1px solid #D1D1D1;
    border-radius:5px; 
}
.products_description_box{
    width:928px;
    height:auto;
    min-height:60px;
    margin-left:10px;
    margin-top:10px;
    font-size:20px;
    margin-bottom: 10px;
    line-height: 25px;
   
}
.description_dotted_line{
    width:948px;
    border-bottom:3px dotted #D1D1D1;    
}

.data_table {
width: 926px;
clear: both;
margin-left:10px;
table-layout: fixed;
padding-top: 2px;
}

.data_table thead tr th:first-child {
-moz-border-radius-topleft: 10px;
-webkit-border-top-left-radius: 10px;
-o-border-radius-topleft: 10px;
-o-border-top-left-radius: 10px;
-ms-border-radius-topleft: 10px;
-ms-border-top-left-radius: 10px;
-khtml-border-radius-topleft: 10px;
-khtml-border-top-left-radius: 10px;
border-top-left-radius: 10px;
}

.data_table th {
color: white;
font-weight: bold;
font-size: 13px;
padding: 10px 5px;
background-color: #019BE1;
}

.data_table thead tr th:last-child {
-moz-border-radius-topright: 10px;
-webkit-border-top-right-radius: 10px;
-o-border-radius-topright: 10px;
-o-border-top-right-radius: 10px;
-ms-border-radius-topright: 10px;
-ms-border-top-right-radius: 10px;
-khtml-border-radius-topright: 10px;
-khtml-border-top-right-radius: 10px;
border-top-right-radius: 10px;
}

.products_offers_received_text {
    font-size: 24px;
    height: 30px;
    margin-left: 10px;
    margin-top: 15px;
    width: 98%;
}

.products_offers_list_box{
    width:926px;
    height:200px;
}
#offers_portal_box{
    width:926px;
    height:200px;
    margin-left:10px;
}
.bussiness_logo_text{
    font-size:24px;
}
.offer_logo_box{
    float:left;
    margin-left:30px;
    font-size:16px;
}
.offer_name_text{
    color:#019BE1;
    font-size:14px;
    float:left;
    text-align:left;
    width:130px;
    margin-left:30px;
    margin-top: -20px;
}
.offer_description_text{
    float:left;
    color:#000;
    width:130px;
    text-align:left;
    margin-left:30px;
    font-size:12px;
}

.offer_price_text{
    font-size:24px;
}
.retails_price_text{
    font-size:24px;
}
.number_of_buyers_text{
    font-size:24px;
    line-height:35px;
}
.members_needed_to_buy{
    font-size:18px;
    line-height:30px;
}
.make_an_offer_text{
    font-size:16px;
    padding-top:5px;
    margin-left:10px;
}
.bussiness_logo_box{
    padding-left:10px;
    padding-top:0px;
    text-align: center;
}
.bussiness_logo_box input{
    width: 150px;
    height: 75px;
}
.offers_logo_box{
    padding-left:10px;
    padding-top:0px;
    text-align: center;
}
.offers_logo_box input{
    width: 110px;
    height: 75px;
}
.offer_name_box{
    margin-left:10px;
    margin-top:-20px;
}
.offer_name_box input{
    width:280px;
    height:22px;
}
.offers_name_size{
    font-size:16px;
    margin-left:85px;
}
.offer_description_text_align{
    margin-left:10px;
    margin-top: -5px;
}
textarea#offer_description{
    width:280px;
    height:70px;
}
.offer_description_name_size{
    float: left;
    font-size:16px;
    margin-left:65px;
    width: 160px;
}
.offer_price_text_box{
    margin-left:0px;
    margin-top: -41px;
    width: 150px;
    text-align: center;
}
.offer_price_text_box input{
    width:100px;
    height:22px;
}
.offer_price_text_size{
    font-size:16px;
    margin-left:0px;
}
.offer_retail_price_text_box{
    margin-left:0px;
    margin-top:10px;
    width: 150px;
    text-align:center;
}
.offer_retail_price_text_box input{
    width:100px;
    height:22px;
}
.offer_retails_price_text_size{
    font-size:16px;
    width:150px;
    margin-left:0px;
}
.minimum_order_text_box{
    margin-left:0px;
    width:140px;
    text-align:center;
    margin-top:-45px;
}
.minimum_order_text_box input{
    width:100px;
    height:22px;
}
.min_order_text_size{
    font-size:16px;
}
.offers_submit_button{
    width:140px;
    margin-top:20px;
    text-align:center;
    margin-top:50px;
}
.prices_offers{
    width:300px;
}


.global_button {
	-moz-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
	box-shadow:inset 0px 0px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4FD5FF), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #4FD5FF 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#14CCFF;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:14px;
	font-weight:bold;
	padding: 7px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}.global_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
                text-decoration:none;
                color:#fff;
}.global_button:active {
	position:relative;
	top:1px;
}



a.orange_color_button:hover{
    background: rgb(255, 138, 0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffde00',endColorstr='#ff6600');
    background: -webkit-gradient(linear,left top,left bottom,from(rgb(255, 222, 0)),to(rgb(255, 102, 0)));
    background: -moz-linear-gradient(top,rgb(255, 222, 0),rgb(255, 102, 0));
    text-decoration: none!important;
}

a.orange_color_button{
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid;
    font-size: 17px;
    font-weight: bold;
    font-family: Trebuchet MS;
    text-align: center;
    display: inline-block;
    margin: 0px 0 0px;
    text-decoration: none;
    color: white;
    background: rgb(255, 155, 0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcd00',endColorstr='#ef6000');
    background: -webkit-gradient(linear,left top,left bottom,from(rgb(255, 205, 0)),to(rgb(239, 96, 0)));
    background: -moz-linear-gradient(top,rgb(255, 205, 0),rgb(239, 96, 0));
    -webkit-box-shadow: inset 0 1px 0 #ffebab,1px 1px 3px rgba(0,0,0,.25);
    -moz-box-shadow: inset 0 1px 0 #ffebab,1px 1px 3px rgba(0,0,0,.25);
    box-shadow: inset 0 1px 0 #ffebab,1px 1px 3px rgba(0,0,0,.25);
    border: 1px solid rgb(255, 155, 0);
    text-shadow: 1px 1px 0 rgb(153, 94, 0);
}
a.orange_color_button_a:hover{
    background: rgb(255, 138, 0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffde00',endColorstr='#ff6600');
    background: -webkit-gradient(linear,left top,left bottom,from(rgb(255, 222, 0)),to(rgb(255, 102, 0)));
    background: -moz-linear-gradient(top,rgb(255, 222, 0),rgb(255, 102, 0));
    text-decoration: none!important;
}

a.orange_color_button_a{
    cursor: pointer;
    padding: 7px 7px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid;
    font-size: 14px;
    font-weight: bold;
    font-family: Trebuchet MS;
    text-align: center;
    display: inline-block;
    margin: 0px 0 0px;
    text-decoration: none;
    color: white;
    background: rgb(255, 155, 0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcd00',endColorstr='#ef6000');
    background: -webkit-gradient(linear,left top,left bottom,from(rgb(255, 205, 0)),to(rgb(239, 96, 0)));
    background: -moz-linear-gradient(top,rgb(255, 205, 0),rgb(239, 96, 0));
    -webkit-box-shadow: inset 0 1px 0 #ffebab,1px 1px 3px rgba(0,0,0,.25);
    -moz-box-shadow: inset 0 1px 0 #ffebab,1px 1px 3px rgba(0,0,0,.25);
    box-shadow: inset 0 1px 0 #ffebab,1px 1px 3px rgba(0,0,0,.25);
    border: 1px solid rgb(255, 155, 0);
    text-shadow: none;
}


/* End products container */

/* Start products comments container */
.products_comments_box{
    background:#fff;
    width:948px;
    height:auto;
    border-radius:0px 0px 5px 5px;
}

/* End products comments container */
#product_description{
    width:210px;
    height:100px;
    display:block;
}
/* Start tribe page */
.tribe_header_box{
    height:100px;
}
#tribe_name_menu{
    width:300px;
    font-size: 24px;
    font-weight: normal;
}
.tribe_name_box{
    font-size: 30px;
    font-weight: normal;
    margin-top: 10px;
    width: 400px;
    height: 80px;
    font-family: Arial;
}

.amount_saved_by_members{
    width:136px;
    font-size: 14px;
}
#saved_amount{
    float:right;
    font-size:22px;
}

.add_friends_to_tribe{
    width: 245px;
    height: 95px;
    padding-left: 30px;
    padding-right: 10px;
}
.add_friends_box{
    width:240px;
}
.add_friends_box_field{
    margin-top:30px;
}
.add_friends_search textarea, input[type="text"]{
    background-color: white;
    margin-top: 12px;
    border: 1px solid #CCC;
    border-radius: px;
   
}
.input_fb_user_name{
    margin-top: 5px;
    width: 233px;
    height: 20px;
    border-radius:2px;
    }
.created_user_image{
    
    width: 70px;
    height:70px;
    margin-left:10px;
    border: 3px solid #F4F4F4;
    border-radius: 7px;
    position: relative;
    float: left;
}
.tribe_created_text{
    font-size:16px;
    margin-left: 10px; 
    margin-top:-35px;
    position: absolute;
    float: left;
   
}
.tribe_created_user_name{
    width:180px;
    font-size:16px;
    color: #019BE1;
    margin-left: 10px; 
    margin-top: -15px; 
    position: absolute;
    float: left;
    
}
.created_user_ratings{
    font-size:14px;
    margin-top: 3px;
    margin-left: 0px;
    position: absolute;
    float: left;
}

#friendslist{
    background:#fff;
    margin-left:25px;
   height:200px;
   width:240px;
   border: 1px solid #000;
   overflow-y:scroll;
   position:absolute;
   z-index:1000;
}

.comments_header{
    font-size:22px;
    margin-left:10px;
    margin-top:7px;
}
.comments_text_box{
    background:#F4F4F4;
    width:910px;
    height:auto;
    min-height:40px;
    margin-top:15px;
    margin-left:15px;
    padding-top:2px;
    padding-left:5px;
    margin-botton:3px;
    border:1px solid #E9E9E9;
    border-radius:5px;
}
.comments_user_name{
    font-size:14px;
    color:#019BE1;
}
.mylink{
    font-size:14px;
    color:#019BE1;
    cursor:pointer;
    margin-left:15px;
    margin-top:8px;
}
.comments_body_box{
    margin-left:15px;
}
.field  text_field_tag#body{
    width:800px;
    height:60px;
}
.No_comments_text{
    margin-left:15px;
    font-size:14px;
}
.No_comments_header{
    margin-top:10px;
}
 .created_user_image{
    width:70px;
    height:70px;
    margin-left:0px;
    margin-top: 5px;
    border: 3px solid #F4F4F4;
    border-radius: 7px;
}

.tribe_created{
   font-size:16px;
    margin-left:10px;
    margin-top:0px;
    
}

