// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comment{
align:bottom;
margin-top:1000px;
}

.myclassname .field{display:none;}
.myclassname .actions{display:none;}

.myclassname {
 margin-left:20px;
}

#body{
    width:200px;
    height:100px;
    display:block;
}
#user_id{
    width:200px;
}

.actions
{
margin-left:0px;


}