// Place all the styles related to the tribes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info h2 {
    clear: left;
    font-size: 160%;
    font-weight: normal;
    margin: 0 0 5px;
}

.info div {
    color: #555555;
    font-size: 95%;
    line-height: 135%;
}

label{
    border: medium none;
    color: #222222;
    display: block;
    font-size: 95%;
    font-weight: bold;
    line-height: 150%;
    margin: 0;
    padding: 0 0 3px;
    white-space: normal;
    width: 100%;
}

#add_participant{ 
    white-space:nowrap; 
}
#participant
{
    display: block;
    height: 52px;
    margin-top: 0px;
    overflow: hidden;
}

#devider{
    border-bottom: 1px dotted #CCCCCC;
    clear: both;
    margin-bottom:5px;
}

.req {
    color: red !important;
    display: inline;
    float: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.message{
   font-weight:normal;
   color: red !important;
}
