
<table>
  <td class="footer_aboutus_box">
    <b>About Us</b>
  </td>
  <td class="footer_contactus_box">
    <b>Contact Us</b>
  </td>
  <td class="fb_like_borderbox">
    <div class="fb-like-box fb_likebox" data-href="http://www.facebook.com/Triballydev?ref=hl" data-width="250" data-height="180" data-show-faces="true" data-stream="false" data-header="false"></div> 
  </td>
</table>
<table>
  <td>
    Copyright 2012 Tribally Pvt Ltd
  </td>
  <td>
    
  </td>
  <td>

  </td>
</table>
